
<h2>LIBRARY MANAGEMENT SYSTEM(Admin)</h2>
<label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" [(ngModel)]="enterfrstname">
  <label for="dept">Department:</label>
  <input type="text" id="dept" name="Department" [(ngModel)]="enterdeptname">
  <label for="date">Date Issued:</label>
  <input type = "date" id="date" name="Date Issued" [(ngModel)] = "enterdate">
  

  <label for="dateR">Date To Return:</label>
  <input type = "date" id="dateR" name="Date To Be Returned" [(ngModel)] = "enterdateReturn">
  

  <input type="submit" value="submit"(click)="TransferData()"><br>

<app-child1 [childprop]="parent2prop"></app-child1>
<app-child2 [child2prop]="parentprop"></app-child2>

<app-child4 [child4prop] = "parent4prop"></app-child4>
<app-child5 [child5prop] = "parent5prop"></app-child5>
<app-child3 [child3prop] ="parent3prop"></app-child3>
<ul>RETURNED BOOK IDS: <li *ngFor="let item of items">{{item}}</li>
</ul>
<a routerLink="Check Book Details">NON-RETURNEES ||</a>

<router-outlet>

</router-outlet>

<a routerLink = "Student Pending Details">PENDING DETAILS ||</a>
<router-outlet>
  
</router-outlet>
<a routerLink = "Department Details">DEPARTMENT WISE COVERAGE ||</a>
<router-outlet></router-outlet>

<a routerLink = "AddBooks">VIEW BOOKS LIST ||</a>
<router-outlet></router-outlet>
<a routerLink = "IssuedBooks">VIEW ISSUED BOOKS</a>
<router-outlet></router-outlet>

  











<app-child6 (nameEvent)="name($event)"></app-child6>  

<app-child8 (newItemEvent)="addItem($event)"></app-child8>


<app-child7 (GetStudentDetails) = "student()"></app-child7>

