<body>
    <table>
      <tr>
      <th>StudentName</th>
      <th>StudentID</th>
      <th>Department</th>
      <th>Book_ID_Taken</th>
      <th>Due_Pending</th>
     
      </tr>
      
          
          <tr *ngFor = "let product of pend"
           [ngStyle] = "{'background-color': product.Due_Pending === 'No' ? 'red' : 'green'}">
           
     
  
           
            <td>{{product.StudentName}}</td>
            <td>{{product.StudentID}}</td>
            <td>{{product.Department}}</td>
            <td>{{product.Book_ID_Taken}}</td>
            <td>{{product.Due_Pending}}</td>
  
           
           
          
          </tr>
          
          
      
        </table>
  
  </body>      
